.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #222;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.navbar a:hover {
  color: #00bcd4;
}
.nav-link.active {
  color: rgb(244, 244, 247);
  font-weight: bold;
  border-bottom: 2px solid blue; /* optional underline effect */
}
.nav-link {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
}
